footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 123px;
  background-color: black;

  .icons {
    cursor: pointer;
    width: 50%;
  }

  img {
    padding-right: 100px;
  }

  img:last-of-type {
    width: 20px;
    height: 20px;
  }

  p {
    color: #FFFFFF;
    opacity: 50%;
  }
}