@mixin flex-row {
  display: flex;
  flex-direction: row;
}

.section2 {
  height: 75px;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  margin: 20px 0;
  padding: 0 150px;

  .text {
    width: 40%;
  }

  .img {
    cursor: url(/app/images/description-cursor-icon-with-shadow-32.png), auto;
    width: 60%;
    height: 30px;
    @include flex-row;
    justify-content: space-evenly;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;    
  }
}