$text-color: white;
$tabs-width: 343px;

.section6 {
  height: 883px;
  background-color: #6696E2;
  text-align: center;

  h2 {    
    font-size: 36px;
    color: $text-color;    
    padding-top: 97px;
    padding-bottom: 10px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: #ebebebbe;
    padding-top: 20px;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 108px;
    
    h4 {
    color: $text-color;
    font-size: 20px;
    font-weight: 400;
    }

    span {
    font-size: 94px;
    color: $text-color;    
    }

    ul {
      background-color: #ffffff;
      border-radius: 0 0 5px 5px;
    }

    li {
      list-style-type: none;
      font-size: 14px;
      color: #86878B;
      padding: 11px;
    }

    .sum {
      font-size: 24px;
      color: $text-color;
    }

    .tabTop {
      background-color: #383434;
      padding: 14px;    
      border-radius: 5px 5px 0 0;
    }

    .line {
      height: 6px;
      font-size: 14px;
      background-color: #41D395;
    }
    
    .tab2 {
      width: $tabs-width;
      padding: 0 30px;
    }

    .tab2 li:first-of-type {
      background-color: #41D395;
      color: $text-color;
    }

    .tab1, .tab3 {
      width: $tabs-width;
    }
  }
}